﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CONSTRU-TEC</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/freelancer.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/CartController.js"></script>
</head>
<body style="background-image:url(http://guialacalera.com.ar/wp-content/uploads/2015/04/Ferreter%C3%ADa-Pintureria-Herramientas-Repuestos-Sanitarios-Art%C3%ADculos-para-piletas-Art%C3%ADculos-de-Limpieza-Luz-Agua-Aridos-Cemento.jpg)">
    <div class="container" ng-init="getValues()">
        <div class="jumbotron">
            <h1 style="padding-left:250px">Shopping cart</h1>
            <div style="display:inline-block; padding-left:250px">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th scope="row" style="width:150px">Materials</th>
                            <th style="width:150px">Quantity</th>
                            <th style="width:150px">Price </th>
                            <th style="width:150px">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="x in OrderDetail">
                    </tbody>
                </table>
            </div>
            <div class="row" style="padding-left:400px">
                <button type="button" class="btn btn-lg btn-success">Finish purchase</button>
                <div classes="col1-md-6" class="btn btn-lg btn-warning" href="#">Back</div>
            </div>
        </div>

    </div>
</body>
</html>
