﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CONSTRU-TEC</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/freelancer.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/IndexController.js"></script>

</head>
<body style="background-image:url(http://guialacalera.com.ar/wp-content/uploads/2015/04/Ferreter%C3%ADa-Pintureria-Herramientas-Repuestos-Sanitarios-Art%C3%ADculos-para-piletas-Art%C3%ADculos-de-Limpieza-Luz-Agua-Aridos-Cemento.jpg)">
    <div class="container" style="position: relative; padding-top:200px; width: 500px" ng-controller="myIndexCtrl">
        <div class="jumbotron" background-color #f5e>
            <h1 style="padding-left:65px">EPATEC</h1>
            <form>
                <div class="form-group">
                    <label for="usr">Email:</label>
                    <input type="text" class="form-control" id="user" ng-model="userEmail"> <!-- Space for email input-->
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" ng-model="userPassword"> <!-- Space for password input-->
                </div>
            </form>
            <div class="row" style="padding-left:80px">
                <a class="btn btn-lg btn-success" href="#" ng-click="printData()">Log in</a>
                <button type="button" class="btn btn-lg btn-warning" href="#https://www.amazon.com">Sign up</button>
            </div>
        </div>
    </div>
</body>
</html>
