﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CONSTRU-TEC</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/freelancer.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/MainMenuController.js"></script>
</head>
<body style="background-image:url(http://guialacalera.com.ar/wp-content/uploads/2015/04/Ferreter%C3%ADa-Pintureria-Herramientas-Repuestos-Sanitarios-Art%C3%ADculos-para-piletas-Art%C3%ADculos-de-Limpieza-Luz-Agua-Aridos-Cemento.jpg)">
    <div class="container" style="padding-top:150px" ng-controller="myMainMenuCtrl" ng-init="getProducts()">
        <div class="jumbotron" background-color #fff>
            <div class="row">
                <div class="col-md-9">
                    <h2>Enter the article you're looking for</h2> <!-- Search input field-->
                    <div class="dropdown" style="padding-left: 350px">
                        <input ng-model="search" placeholder="Search" name="q" type="text" style="position:absolute; width:300px" class="dropdown-toggle" data-toggle="dropdown">
                        <ul style="position:absolute; left:400px" class="dropdown-menu">
                            <li ng-repeat="x in ProductsList | filter: search" ng-click="selectMaterial(x)"><a>{{x.Name}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-link" ng-click="cartSelected()">
                        <img src="http://www.rebeldesmarketingonline.com/blog/wp-content/uploads/2013/09/carrito-compras.jpg" width="50" height="50">
                    </button>
                </div>
            </div>
            <h3 style="margin: auto; width:25%; padding-top:50px"> Recommendations </h3> <!-- Examples of products to seek -->
            <div class="row" style="padding-top:30px">
                <div class="col-md-4">
                        <img src="http://www.demaquinasyherramientas.com/wp-content/uploads/2010/12/tipos-de-martillos2.jpg" width="200" height="200">
                </div>
                <div class="col-md-4">
                        <img src="http://g01.a.alicdn.com/kf/HTB1awJWLpXXXXcgXVXXq6xXFXXX8/13pcs-font-b-blade-b-font-font-b-grinder-b-font-whe-saw-kit-renovator-tools.jpg" width="200" height="200">
                </div>
                <div class="col-md-4">
                        <img src="https://sgcdn.startech.com/005329/media/products/gallery_large/pcscrewkit.Main.jpg" width="200" height="200">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                        <img src="http://mla-s2-p.mlstatic.com/145601-MLA20355546625_072015-O.jpg" width="200" height="200">
                </div>
                <div class="col-md-4">
                        <img src="http://static.webshopapp.com/shops/026248/files/065753500/kit-de-reparacion-de-color-sellador-para-pisos-lam.jpg" width="200" height="200">
                </div>
                <div class="col-md-4">
                        <img src="http://mco-s2-p.mlstatic.com/kit-combo-8-diferentes-bisturis-corte-papeleria-ferreteria-1290-MCO18363472_7976-O.jpg" width="200" height="200">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
